.history-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.history-list ul {
    padding-left: 1.25rem;
}

.history-list li {
    display: flex;
    gap: 4.875rem;
}

@media (max-width: 480px) {
    .history-list li {
        flex-direction: column;
        gap: 0.5rem;
    }
}

.history-list h5 {
    margin-bottom: 0.25rem;
}

.history-list h6 {
    margin-bottom: 16px;
}

.history-list .description li {
    display: list-item;
    list-style-type: disc;
    font-size: 14px;
    font-weight: 500;
    list-style-position: outside;
}
