header {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.nav-link.logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5.5625rem;
    line-height: 26px;
    letter-spacing: -0.800000011920929px;
    text-align: left;
}

.nav-link {
    text-decoration: none;
    color: var(--black-light);
    margin-bottom: 1.5rem;
    filter: opacity(0.5);
    transition: all;
    transition-duration: 350ms;
}

.nav-link:hover {
    color: var(--orange) !important;
    filter: opacity(1);
}

.nav-link.active {
    filter: opacity(1);
}

@media (max-width: 390px) {
    header {
        background: rgb(255, 232, 215);
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }

    nav {
        width: 100%;
        position: absolute;
        top: -500px;
        background-color: inherit;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transition: top;
        transition-duration: 600ms;
    }

    nav.shown {
        top: 74px;
    }

    nav a {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .hamburger {
        width: 24px;
        height: 24px;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        z-index: 1;
    }

    .nav-link.logo {
        display: none;
    }

    .nav-link.logo.mobile {
        display: block;
        margin-bottom: 0;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

@media (min-width: 391px) {
    .nav-link.logo.mobile {
        display: none;
    }

    .hamburger {
        display: none;
    }
}
