@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

/* End Reset */
@import './common';

:root {
    --dark-black: #000201;
    --black-mid: #000201cc;
    --black-light: #00020199;
    --orange: #d3902a;
    --red: #f63232;
    --white: #ffffff;
    --white-bright: #fffcf5;
    --white-mid: #fffcf5cc;
    --white-transparent: #fffcf54d;
    --bg-white: #f8f4f0;
    --bg-black: #0c0b05;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-black);
}

p,
ul,
li {
    color: var(--black-light);
}

body {
    margin: 0;
    font-family: Archivo, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-white);
    min-height: 100vh;
}

.star {
    color: red;
}

textarea {
    font-family: Archivo, sans-serif;
    padding: 1rem !important;
    outline: none !important;
}

.dark-mode {
    background-color: var(--bg-black);
    color: var(--white);
}

.content {
    padding-left: 24rem;
    padding-top: 7.8125rem;
    height: fit-content;
    width: 100%;
    overflow-y: hidden;
}

@media screen and (max-width: 1440px) {
    .content {
        padding-left: 15rem;
    }
}

@media screen and (max-width: 744px) {
    .content {
        padding-left: 11rem;
    }
}

@media screen and (max-width: 390px) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 6rem;
    }
}
