.slide-image {
    height: 320px;
    width: 400px;
    object-fit: cover;
}

.slick-slide {
    margin-right: 12px;
}

.slick-prev {
    position: absolute;
    top: -22px;
    right: 57px;
    left: auto;
    width: 32px;
    height: 32px;
}
.slick-next {
    position: absolute;
    top: -22px;
    right: 20px;
    width: 32px;
    height: 32px;
}

.slick-prev::before {
    content: url('../assets/arrow-left.svg');
}

.slick-next::before {
    content: url('../assets/arrow-right.svg');
}

.img-wrap {
    position: relative;
}
.img-wrap p {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #ffffff;
    opacity: 0;
}
.slide-image {
    transition: all;
    transition-duration: 550ms;
}
a.img-wrap:hover .slide-image {
    filter: brightness(0.7);
}

.img-wrap:hover p {
    z-index: 1;
    opacity: 1;
    filter: brightness(1);
}
