.home {
    .slick-slider {
        height: 350px;
    }
    .slide-image {
        height: 320px;
        width: 400px;
        object-fit: cover;
        transition: all;
        transition-duration: 550ms;
    }
    .slick-slide {
        margin-right: 12px;
    }
    .slick-prev {
        position: absolute;
        top: -22px;
        right: 57px;
        left: auto;
        width: 32px;
        height: 32px;
    }
    .slick-next {
        position: absolute;
        top: -22px;
        right: 20px;
        width: 32px;
        height: 32px;
    }
    .slick-prev {
        z-index: 1;
        background-color: black;
        -webkit-mask: url(../assets/arrow-left.svg) no-repeat center;
        mask: url(../assets/arrow-left.svg) no-repeat center;
        ::before {
            content: '' !important;
        }
    }
    .slick-prev::before {
        content: '' !important;
    }
    .slick-next {
        z-index: 1;
        background-color: black;
        -webkit-mask: url(../assets/arrow-right.svg) no-repeat center;
        mask: url(../assets/arrow-right.svg) no-repeat center;

        ::before {
            content: '' !important;
        }
    }
    .slick-next::before {
        content: '' !important;
    }
}

[data-theme='dark'] .home {
    .slick-next,
    .slick-prev {
        background: #fffcf5;
    }
}

.works-container {
    .slick-track {
        height: 35px;
        .slick-slide {
            height: 100%;
            div {
                height: 100%;
                li {
                    height: 100%;
                    padding-right: 0;
                    margin-right: 2.5rem;
                }
            }
        }
    }
}
